a {
  text-decoration: none;
}
input {
  cursor: pointer;
}
.htmlgiohang {
  font-family: "roboto", sans-serif;
}
.content__cart {
  margin: auto;
  width: 1420px;
}
.content__icon {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
.content__notegiamgia {
  font-size: 20px;
  margin-top: 20px;
  border-bottom: 1px solid darkgrey;
  background-color: #f9f9f9;
  padding: 10px;
}
.content__voucher a:hover,
.content__giamgia a:hover {
  color: red;
}
.content_tablegiohang {
  font-size: 20px;
  text-align: center;
  margin: auto;
  width: 1420px;
  margin-top: 20px;
}
.content_tablegiohang tr,
.content_tablegiohang td {
  padding: 10px;
  border-bottom: 1px solid darkgrey;
}
.content_tr1 {
  background-color: rgb(148, 142, 142);
  color: white;
  border: none;
}
.content_tr2 {
  background-color: white;
  border: none;
}
.content_tr2 .soluong {
  text-align: center;
}
.content_tr2 input {
  border: none;
  font-size: 20px;
}
.content__voucher {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid darkgrey;
  background-color: #f9f9f9;
}
.content__voucher a {
  margin-left: 940px;
}
.content_them {
  margin-left: 15px;
}
.content_them input {
  padding: 10px;
  width: 170px;
  font-size: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border: solid darkgrey;
  cursor: pointer;
}
.content_them input:hover {
  background-color: aqua;
  color: orangered;
  transition: 0.3s;
}
.content__tr5 {
  background-color: #f9f9f9;
}
.content__giamgia {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid darkgrey;
  background-color: #f9f9f9;
}

.content_thongtinkhachhang {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}
.content_thongtinkhachhang div {
  margin-top: 15px;
}
.content_thongtinkhachhang input {
  padding: 5px;
}
.content_tthoten {
  margin-left: 50px;
}
.content_ttsdt {
  margin-left: 37px;
}
.content_ttdc {
  margin-left: 91px;
}
.content_ttghichu {
  margin-left: 85px;
  width: 310px;
  height: 80px;
}
.content__xoa input {
  border: none;
  font-size: 20px;
}
.content__button__dathang div {
  margin-left: 5px;
}
.buttondathang {
  width: 170px;
  padding: 10px;
  border: solid darkgrey;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.buttondathang:hover {
  background-color: aqua;
  transition: 0.3s;
  color: orangered;
}
.content__tr4 {
  background-color: #f9f9f9;
}
.div_buttondathang {
  margin-left: 260px;
}
.tongthanhtoan,
.tongtien {
  width: 170px;
  height: 50px;
  font-size: 20px;
  border: none;
  margin-top: 20px;
}
.content_input_chonall1 {
  text-align: center;
  margin-top: 32px;
  width: 250px;
  font-size: 20px;
  height: 50px;
}
.tongtien {
  text-align: right;
}
.content_input_spkohoatdong {
  width: 300px;
  height: 50px;
  border: none;
  margin-top: 20px;
  font-size: 20px;
}
.content__dathangtong {
  display: flex;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  width: 1420px;
  border-bottom: 1px solid darkgrey;
  background-color: #f9f9f9;
  z-index: 999;
}
.content__dathangtong input {
  margin-left: 10px;
}
.content_input_spkohoatdong,
.tongthanhtoan {
  margin-left: 70px;
}
/*------XEM VOUCHER-------------------*/

.main__voucher {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.main__voucher:target {
  display: flex;
}
.main__voucher input {
  padding: 5px;
}
.tr__voucher input {
  border: none;
  margin: 2px;
}
.voucher__reduce {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  text-align: center;
  position: relative;
  overflow: auto;
}
.scroll__voucher {
  height: 2000px;
}
/*------TÌM HIỂU VỀ VOUCHER----------*/
.content__giamgiavoucher {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.content__giamgiavoucher:target {
  display: flex;
}
.main__giamgia {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
  position: relative;
}
.close-giamgia {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  color: #000;
}
.main_luotban {
  text-align: left;
  opacity: 0.5;
}
/*-----------TỔNG TIỀN------------*/
.main__tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.content__tooltip {
  display: none;
  position: absolute;
  top: -230px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: black;
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  white-space: nowrap;
}
.content__tooltip input {
  border: none;
  font-size: 20px;
  text-align: right;
}
.content__tooltip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
}

.main__tooltip:hover .content__tooltip {
  display: block;
}
.tooltip_tongtien {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/*------------CONTENT TITLE ---------------------*/
.content_title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.content_title_main {
  width: 1420px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid darkgray;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sanpham1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.1);
}
.sanpham1 {
  width: 220px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.sanpham1 a{
  color: #333;
}
.content_title_main img {
  width: 220px;
  height: 180px;
}
.main_sanpham {
  display: flex;
  justify-content: space-around;
}
.main_sanpham .giasanpham {
  font-size: 20px;
  text-align: left;
}
.giagiamsanpham {
  margin-right: 80px;
  text-decoration: line-through;
}
.sanpham1-mua {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
}
.sanpham1-mua a {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 20px;
}
.sanpham1-mua a:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
.sanpham1 .nhan_giamgia {
  background-color: red;
  color: white;
  width: 70px;
  height: 23px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
}
.giasanpham_discount{
  font-size: 20px;
  text-align: left;
}