* {
  margin: 0;
  padding: 0;
}
/* header */
header{
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-top-customer {
  display: flex;
  align-items: center;
  width: 1220px;
}
.header-top-customer a {
  text-decoration: none;
  margin-left: 30px;
  color: ghostwhite;
  font-size: 14px;
}
.header-top-customer a:hover {
  color: black;
}
.header-top-customer p {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.header-top-wrapper {
  background-color: rgb(224, 126, 73);
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 1420px;
  margin: auto;
}
.header-top-login a {
  text-decoration: none;
  color: rgb(72, 72, 72);
  font-size: 16px;
  font-weight: bold;
}
.header-top-login {
  width: 200px;
}

.header-top-login a:hover {
  color: white;
}
.header-bottom-wrapper {
  background-color: #f9f9f9;
}
.header-bottom {
  display: flex;
  max-width: 1420px;
  margin: auto;
  width: 100%;
}
.header-bottom-toggle {
  align-items: center;
  display: flex;
  width: 5%;
}
.header-bottom-toggle i {
  font-size: 30px;
}
.header-bottom-logo {
  width: 5%;
}
.header-bottom-logo img {
  width: 100%;
  display: flex;
  align-items: center;
}
.header-bottom-nvbar {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-evenly;
}
.header-bottom-nvbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
.header-bottom-nvbar li {
  list-style: none;
  align-items: center;
  margin-left: 40px;
}
.header-bottom-nvbar a {
  text-decoration: none;
  color: rgb(90, 90, 90);
  font-size: 16px;
  font-weight: bold;
}
.header-bottom-nvbar a:hover {
  color: gold;
}
.header-bottom-cart,
.header-bottom-search {
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-left: 15px;
}
.search-icon {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.search-box {
  display: none;
  position: absolute;
  margin-top: 100px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Ensures it stays on top */
}

.search-box input {
  width: 200px;
  padding: 5px;
  border: none;
  outline: none;
}
/* header */


/* footer */
.footer-wrapper {
  margin: auto;
  max-width: 1420px;
}
.footer-title {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.footer-customer {
  width: 22%;
  margin-left: 20px;
}
.footer-customer a {
  text-decoration: none;
  color: #dddddd;
}
.footer-introduction {
  width: 22%;
}
.footer-introduction a {
  text-decoration: none;
  color: #dddddd;
}
.footer-infor {
  width: 22%;
}
.footer-infor a {
  text-decoration: none;
  color: #dddddd;
}
.footer-policy {
  width: 22%;
}
.footer-policy a {
  text-decoration: none;
  color: #dddddd;
}
.footer-qr {
  width: 12%;
  margin-right: 20px;
}
.footer-qr img {
  width: 100%;
}
pre {
  padding: 40px 0 40px 0;
  color: #cccccc;
}
footer {
  background-color: rgb(41, 41, 43);
  height: 100%;
}
.footer-wrapper {
  padding-top: 40px;
}
.footer-content {
  margin-top: 20px;
}
.footer-content p {
  padding-top: 10px;
}
.footer-top {
  display: flex;
  width: 100%;
}
.footer-bottom-icon {
  color: white;
  display: flex;
  margin-right: 20px;
}
.footer-bottom-icon a {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.footer-bottom-icon p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
/* footer */


/* Left */
a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
li a:hover{
  color: aqua;
  transition: 0.3s;
}
.content {
  justify-content: space-around;
  display: flex;
  max-width: 1420px;
  margin: 0 auto;
}
.Left{
	width:350px;
	float: left;
	background-color:#FFF;
  border-right:1px solid darkgrey;
}
.Left p{
	padding:4px;
	background-color:#a17945;
	color:#FFF;
	border-radius:0px 25px 25px 0px ;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.filter{
  text-align: center;
  margin-left: -10%;
}
.content__locsp{
  width: 350px;
  margin-top:15px;
  margin-bottom: 15px;
}
.content__locsp ul{
  margin-right: 20px;
}
.content__locsp ul li{
  list-style: none;
  margin-bottom: 10px;
}
.content__locsp :hover{
  color: aqua;
  padding-left: 5px;
  transition: 0.3s;
}
.content__locsp a{
  color: black;
  text-align: center;
}
.filter-sp {
  font-size: 20px;
  color: red;
}
.head-filter strong{
  margin-left: 5%;
}
/* Left */


/* San Pham CSS */
.Right{
  max-width: 1070px;

}
.head-right h3 {
font-size: 30px;
font-weight: bold;
color: #333;
text-align: center;
margin-top: 15px;
margin-bottom: 25px;
}
.right-content-sanpham {
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
.sanpham-one {
width: 267px;
text-align: center;
border: 10px;
}
.sanpham-one img {
width: 267px;
}
.sanpham-one h1 {
font-size: 15px;
color: #333;
margin-top: 6px;
}
.sanpham-one .cost-sanpham {
font-size: 18px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.sanpham-one .reduce-sanpham {
font-size: 15px;
margin-left: 6px;
text-decoration: line-through;
margin-left: 5px;
}
.pri-sanpham{
  display:flex;
  justify-content: center;
  align-items: center;
}

.buy-sanpham{
  margin: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.buy-sanpham a{
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  margin: auto 10px;
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.buy-sanpham a:hover{
  background-color: black;
  color: white;
  transition: 0.5s ease;
}
/* San Pham CSS */


/* Phan Trang */
.sanpham{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination a.active {
  background-color: gold;
  color: black;
  border: 1px solid black;
}
.pagination a:hover:not(.active) {
  background-color: #aca9a9f5;
}
/* Phan Trang */