.container {
  width: 1420px;
  margin: auto;
}
a{
  text-decoration: none;
}
.html {
  font-family: 'roboto',sans-serif;
  font-size: 20px;
}
.container__nhanhang {
  border-bottom: 1px solid darkgray;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}
.SloganThanhToan {
  font-size: 23px;
  text-align: center;
}
.SloganThanhToan span {
  border-left: 3px solid black;
  padding-left: 10px;
}
.content__thongtinkhachhang li {
  margin-left: 15px;
}
.container__inforsanpham {
  display: flex;
  width: 100%;
  background-color: darkgrey;
  color: #f9f9f9f9;
}
.container__inforsanpham div:not(.sanpham){
  border-left: 1px solid darkgray;
}
.sanpham {
  text-align: center;
}
.sanpham,
.Anhsp {
  width: 40%;
}
.giamgia,
.loaisanpham,
.dongia,
.soluong {
  width: 10%;
  text-align: center;
}
.thanhtien {
  width: 20%;
  text-align: center;
}
/*-----------------------*/
.doan_table{
  width: 1420px;
  margin-top: 20px;
}
.doan_tr1{
  background-color: rgb(148, 142, 142);
  color: white;
}
/*------------------------*/
.container__maintext {
  display: flex;
  width: 100%;
  border-bottom: 1px solid darkgray;
  margin-top: 20px;
  background-color: white;
}
.container .container__text {
  width: 40%;
  padding: 10px;
}
.container__text input {
  padding: 15px;
}
/*--------------------------*/
.container__PTTT {
  display: flex;
  border-bottom: 1px solid darkgray;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}
.container__PTTT input:hover,
.container__PTTT select:hover {
  background-color: aqua;
  transition: 0.5s;
  color: orangered;
}
.container__PTTT div:not(:first-child) {
  margin-left: 30px;
}
.PTTT__thanhtoan {
  margin-top: 13px;
}
.container__PTTT input,
.container__PTTT select {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}
.luuy {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  padding: 10px;
  border-top: none;
  background-color: white;
  position: sticky;
  bottom: 0;
  z-index: 999;
}
.luuy p {
  margin-top: 50px;
}
.luuy input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 30px;
  border: 1px solid darkgray;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.luuy input:hover {
  border-color: aqua;
  background-color: aqua;
  transition: 0.5s;
  color: orangered;
}
.luuy input:active {
  background-color: white;
}
.hoadontong {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
  padding-top: 10px;
  background-color: white;
}
.hoadontong0 {
  width: 60%;
}
.hoadontong1 {
  width: 40%;
  border: 1px solid darkgray;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.hoadontong1__ip1 {
  margin-left: 200px;
}
.hoadontong1__ip2 {
  margin-left: 196px;
}
.hoadontong1__ip3 {
  margin-left: 103px;
}
.hoadontong1__ip4 {
  margin-left: 246px;
}
.hoadontong1__ip5 {
  margin-left: 187px;
}
.hoadontong1__ip6 {
  margin-left: 227px;
}
.hoadontong1 label,
.hoadontong1 input {
  margin-top: 20px;
}
.hoadontong1 input{
  border: none;
  text-align: right;
}
