* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

/* product */
.container {
  padding-top: 20px;
  max-width: 1560px;
  margin: auto;
}
.product-top {
  margin-bottom: 30px;
  display: flex;
}
.product-top p {
  margin: 0 12px;
  font-size: 12px;
}
.product-content-left {
  width: 50%;
  display: flex;
}
.product-content {
  display: flex;
}
.product-content-left-small-image {
  width: 20%;
  padding-right: 20px;
}
.product-content-left-small-image img {
  width: 100%;
}

.product-content-left-big-image {
  width: 80%;
}
.product-content-left-big-image img {
  width: 100%;
}
.product-content-right {
  width: 50%;
  padding-left: 60px;
}
.product-content-right-name h1 {
  font-size: 30px;
}
.product-content-right-name p {
  color: #cccccc;
  font-size: 12px;
}
.product-content-right-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
}
.product-content-right-price .original-price {
  text-decoration: line-through;
  color: #ff0000;
  font-weight: 100;
  font-size: 12px;
}
.product-content-right-price .discounted-price {
  margin-left: 20px;
}
.product-content-right-color img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #333;
}
.product-content-right-size .size {
  border: 1px solid #dddddd;
  padding: 3px 6px;
  margin-left: 12px;
}
.product-content-right-size {
  margin-top: 30px;
}
.product-content-right-material .material {
  border: 1px solid #dddddd;
  padding: 3px 6px;
  margin-left: 12px;
}
.product-content-right-material {
  margin-top: 30px;
}
.product-content-right-quantity {
  background-color: white;
  margin-top: 30px;
}
/* related products */
.related-products {
  margin-bottom: 50px;
  margin-top: 200px;
}
.product-title p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.related-products-content {
  display: flex;
  max-width: 2000px;
  margin: auto;
}
.product-related-item {
  width: 25%;
  text-align: center;
  padding: 0 12px;
}
.product-related-item img {
  width: 100%;
}
.product-related-item h1 {
  font-size: 20px;
  color: #333;
  margin-top: 6px;
}
.product-related-item .pri-bottom {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-related-item .pri-reduce-price {
  font-size: 15px;
  margin-left: 6px;
  text-decoration: line-through;
  margin-left: 5px;
}
